/*para computadores*/

@media screen and (min-width: 1200px){
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer"
        ;
    }

    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    
    body{
        background-color: rgba(226, 33, 33, 0.774);
    }
    
    button{
        border-radius: 10px;
        height: 30px;
        width: 75px;
        border: none;
        background-color: rgba(206, 18, 18, 0.87);
        text-transform: uppercase;
        margin: 10px;
        color: white;
    }

    i{
        display: none;
    }

    header{
        grid-area: header;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background: linear-gradient(90deg, rgba(0,0,0,1) 24%, rgba(255,0,0,1) 100%);
        border-bottom: 2px solid rgb(255, 255, 255);
    }

    header h1{
        padding: 30px;
        text-align: center;
        color: white;
        text-shadow: black 0.1em 0.1em 0.2em;
    }

    .menu > ul{
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
    }

    .menu > ul > li > a {
        padding: 10px;
        text-decoration: none;
        text-align: center;
        color: white;
    }

    main{
        grid-area: main;
    }

    main h1{
        text-align: center;
        padding: 10px;
        color: white;
        text-shadow: black 0.1em 0.1em 0.2em;
        border-bottom: 2px solid rgb(255, 255, 255);
    }

    .img img{
        border-radius: 10px;
        height: 150px;
    }

    .img{
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    .texto{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        text-align: justify;
        padding: 0px 20px;
    }

    .containerSobre{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 100px;
    }

    #texto{
        grid-area: texto;
    }

    #foto{
        grid-area: foto;
    }

    .btn{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .skill2{
        display: flex;
        justify-content: space-evenly;
    }
    
    .skill2 img{
        height: 150px;
    }
    
    .projetos2 ul{
        display: flex;
        justify-content: space-evenly;
    }
    
    .projetos2 ul li a img{
        height: 120px;
        margin-top: 40px ;
    }

    .projetos2 ul li a p{
        margin-bottom: 30px;
    }
    
    .projetos2 ul li {
        list-style: none;
    }
    
    .projetos2 > ul > li > a{
        text-decoration: none;
        color: white;
    }

    .contact{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 20px;
    }
    
    .contact a svg{
        height: 100px;
    }
    
    .contact a {
        text-decoration: none;
    }

    footer{
        grid-area: footer;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
        color: white;
    }

    footer p{
        text-transform: uppercase;
    }
}